/* CSS Document */
body{ font-size:11px; font-family:Verdana; margin:0; padding:0;}
.spacer{ margin:0; padding:0; line-height:0; clear:both; font-size:0;}
div,ul,li,span{ margin:0; padding:0; list-style:none;}

/*--navigation--*/
ul#nav{ margin:0px; padding:0px; position:relative; display:block;}
ul#nav li{ float:left; margin-right:10px; position:relative;}
ul#nav li.first{ loat:left; margin:0px; padding:0px; background:url(../images/topnav-curve-l.gif) 0px 0px no-repeat; width:7px; height:37px; position:relative;}
ul#nav li.last{float:right; margin:0px; padding:0px; background:url(../images/topnav-curve-r.gif) 0px 0px no-repeat; width:7px; height:37px;}
ul#nav li a{ float:left; 
	display:block;
	color:#fff;
	margin:0px; 
	padding:0px;
	height:37px;
	text-decoration:none;  
	background:url(../images/navlink-separator.gif) right no-repeat;
}
ul#nav li a:hover{
	float:left; 
	display:block; 
	margin:0px; 
	padding:0px;
	height:37px;
	text-decoration:underline;  
	background:url(../images/navlink-separator.gif) right no-repeat;
}
ul#nav li a span{
	padding:8px 21px 0px 21px;
	display:block;
	color:#fff;
}

/**/
/*--main sub listing--*/
ul#nav li ul.mainSub{ display:none; position:absolute; z-index:100; width:200px; left:0px; padding-top:5px; float:left;}
ul#nav li:hover ul.mainSub{ display:block;}
/**/
ul#nav li ul.mainSub li{border:1px solid #1587b9; border-bottom:none; width:100%; position:relative;}
ul#nav li ul.mainSub li.last{border:1px solid #1587b9;}
ul#nav li ul.mainSub li a{ float:left; text-decoration:none; color:#000; font-weight:normal; background:#ccc; padding:5px 5px; border:none; width:95%;}
ul#nav li ul.mainSub li span a{background:#ccc url(../images/arrow.gif) no-repeat 180px 9px; float:left; width:95%;}
ul#nav li ul.mainSub li span a:hover{background:#FAFAFA url(../images/arrow.gif) no-repeat 180px 9px;}
ul#nav li ul.mainSub li a:hover{background:#b5e6fc;}
/*--main sub listing--*/

/*--sub listing--*/
ul#nav li ul.mainSub li ul.sub{ display:none; position:absolute; z-index:200; width:200px; left:200px; top:-1px; float:left;}
ul#nav li:hover ul.mainSub li:hover ul.sub{ display:block;}
/**/
ul#nav li ul.mainSub li ul.sub li{border:1px solid #1587b9; border-bottom:none; width:100%;}
ul#nav li ul.mainSub li ul.sub li.last{border:1px solid #1587b9;}
ul#nav li ul.mainSub li ul.sub li a{ float:left; text-decoration:none; color:#000; font-weight:normal; background:#ccc; padding:5px 5px; width:95%;}
ul#nav li ul.mainSub li ul.sub li a:hover{background:#b5e6fc;}
/*--sub listing--*/

/*--sub listing hover effect--*/
ul#nav li:hover ul li:hover span a{background:#b5e6fc url(../images/arrow.gif) no-repeat 180px 9px;}
ul#nav li:hover ul li:hover ul.sub li:hover a{background:#b5e6fc}
/*--sub listing hover effect--*/

/*--IE7 hacking--*/
*:first-child+html ul#nav li a{ float:left;}
*:first-child+html ul#nav li ul.mainSub{padding-top:5px;}
/*--IE7 hacking end--*/

/*--safari hacking--*/
ul#nav{ height:29px; padding-bottom:0;#}
ul#nav li ul.mainSub{top:24px;#}
ul#nav li ul.mainSub li span a{float:left; width:95%;#}
/*--safari hacking end--*/



